body
{
    font-size: 12px;
      background-color: rgba(255, 255, 255);
    text-align: center;
    margin:0px;
    padding:0px;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
/*    Pour ne pas rendre le texte sélectionnable, évite les backgrounds bleus 
    (surtout quand on double clique sur une page, par exemple), à mettre dans la balise body du css*/
    -moz-user-select: none; 
    /*Firefox*/ 
  -webkit-user-select: none; /*   Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; 
    /*Internet explorer depuis la version 10 et Edge*/ 
    user-select: none; 
    /*Propriété standard*/ 
    list-style-type: none;
    color: green;
      display: flex;
  align-items: center;
  justify-content: center;
}
.indexBright{
    font-size: 35px;
}
.infoUtile{
    font-size: 12 px;
    color: black;
}
#titleInfo{
    font-size: 50px;
    
}
#Goals,
#productionD2wm, #skills, #training, #professionalexperiences, #productionCda, #contact, #hobbies, .espace
{
    border: 4px blueviolet dotted;
}

.espace{
    
    height: 110px;
    width: auto;
}
a:hover
{
    background-color:#005d50;
    color:white;
    text-decoration:none;
}
.formulaire{
    font-size: 12px;
}
.titleRealisationDwm, 
.titleRealisationCda, 
.hobbisesTitle, 
.h1ptofessional, 
.h1training, 
.titrecompetance,
.titleRealisationCda,
.titleContact,
#Goals
{
    font-size:30px;
    color: black;
}
.formulaire{
    color: red;
    font-size: 12px;
}
a{
    color: blue;
}
#imgTraining, #imgSkills, #imgProfessionalExperiences, #imgProductionD2wm, #imgProductionCda,#imgHobbies
{
    background-attachment: fixed; 
    width: 95%;
    height: 200px;
    
}
#rally{
    height: 250px;
    width: auto;
}
p
{
    color: black;
      font-size: 12px;  
}
h2{
    color: black;
    font-size: 15px;
}
h4{
    font-size: 13px;
    color: yellowgreen;
}
h3{
    font-size: 14px;
    color: gold;
}
h1{
  font-size: 20px;
color: black;  
}
h5 {
    color: black;
    font-size: 13px;
}
/*html,body,h1,h2,h3,h4,h5,h6
{font-family: "Roboto", sans-serif}*/