body{
  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  word-spacing: 1.4px;
  color: #A2998B;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

#rideauG {
  z-index : 3;
  position : absolute;
  top : 0;
  left : 0;
  background-image: url('../img/main/rG.png');
  background-size: cover;
  background-repeat: no-repeat;
  width : 50%;
  height : 1000px;
}
#rideauD {
  z-index : 2;
  position : absolute;
  top : 0;
  left : 50%;
  background-image: url('../img/main/rD.png');
  background-size: cover;
  background-repeat: no-repeat;
  width : 50%;
  height : 1000px;
}
h1{
  background: black;
  padding-top: 1.6em;
  padding-bottom : 0.2em;
  margin-bottom : 0;

  color : black;
  text-align: center;
  justify-content: center;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;
}
img{
  width: 100%;
}
img:hover{
  border: 8px inset orange;
}
#navMenu{
  background-image: url('../img/main/bandeauNav.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
#menuScroll{
  background-image: url('../img/main/menuNav.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#home{
  padding-top: 0;
  background-image: url("../img/main/homePage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height : 1000px;
}
#category1{
  background-image: url("../img/imgAdventure/fondAdventure.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#category2{
  background-image: url("../img/imgHoneyMoon/fondHoneyMoon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#category3{
  background-image: url("../img/imgFamily/fondFamily.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#category4{
  background-image: url("../img/imgSolo/fondSolo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#panierModal{

}
.category{
  display: none;
}
.article {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 40px 37px 45px 0px rgba(62,105,109,0.56);
  box-shadow: 40px 37px 45px 0px rgba(62,105,109,0.56);

  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: rgb(66, 57, 43);
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}
footer
{
  background-color: #777799;
}
footer h2
{
  color:#fff;
}
